<div style="display: none;" id="kds_main_content_div" class="kds_main_content_div">
<div id="kds_display" class="display_kds">
    <div id="kds_header">
        <div id="logo"></div>
        <div id="clock_time"></div>
    </div>
    <div id="kds_content">
        
    </div>
    <div id="kds_footer">

    </div>
</div>
</div>