<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Makit KDS</title>
    <link rel="stylesheet" href= "/css/kds-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  </head>
  <body style="background-color: whitesmoke; background-size: 100%">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    </style>

    <div>
        <div>
            
        </div>
        <div>

        </div>
    </div>










    <script src="/javascript/kds.js"></script> 
    <script src="/javascript/general_scripts.js"></script>
  </body>
</html>

