


<form>
<div id="clear_req_background" class="clear_req_background_cl" style="display: none;"></div>


<div id="clear_confirmation_window" class="clear_confirmation_cl" style="display: none;">
    <h5>¿Deseas borrar toda la orden y volver a empezar?</h5>
    <button type="submit" formaction="/clear_sc" formmethod="POST">Borrar </button>
    <button type="button" id="close_clear_confirmation">Volver</button>
  </div>

  
  <div id="send_req_background" class="send_req_background_cl" style="display: none;"></div>

  <div id="send_order_confirmation_window" class="send_order_confirmation_cl" style="display: none;">
    <h5>¿Seguro que deseas enviar este pedido?</h5>
    <button id="confirm_button" type="button">Seguro!</button>
    <button type="button" id="close_send_order_confirmation">Volver</button>
  </div>
</form>
