
<div id="sc_confirm_backscreen" class="sc_confirm_backscreen_cl" style="display:none;">
</div>

<div id="sc_confirm_window" class="sc_confirm_window_cl" style="display:none;">
    <h3>¿Estas seguro de modificar este artículo?</h3>
    <button id="confirm_modify" type="submit" formaction="/send_order"  formmethod="POST" id="sc_confirm_btn">CONFIRMAR</button>
    <button type="button" id="sc_back_btn">VOLVER AL PEDIDO</button>
</div>
<div id="sc_error_backscreen" class="sc_error_backscreen_cl" style="display:none;">
</div>
<div id="sc_error_tag" class="sc_error_tag_cl" style="display:none">
   <h3>¡Ups! Parece que aun tienes items por escoger.</h3>
    <h2>Volver al pedido</h2>
</div>


