
<div class="topbarbackgroundclose" id="topbarbackgroundid" style="display: none;">
</div>
<div class="wholemenuclose" id="wholemenuid" style="display: none;">
    <div class="menu1" id="menubtnid1">
        <form action="/firsthomeclosetopslide" method="POST" class="menubtn">
            <button class="dragmenubtn" type="submit">Home</button><img src="/Images/serifamakit.png" style="position: absolute; left: 65vw;opacity: 0.4;" height="40px" width="40px"/>
        </form>
    </div>
    <div class="menu2" id="menubtnid2">
        <form action="/firstspclosetopslide" method="POST" class="menubtn">
            <button class="dragmenubtn" type="submit">Carrito</button><img src="/Images/serifamakit.png" style="position: absolute; left: 70vw;opacity: 0.4;" height="40px" width="40px"/>
        </form>
    </div>
    <div class="menu3" id="menubtnid3">
        <form action="/firstmenulist1closetopslide" method="POST" class="menubtn">
            <button class="dragmenubtn" type="submit">Carta</button><img src="/Images/serifamakit.png" style="position: absolute; left: 66vw;opacity: 0.4;" height="40px" width="40px"/>
        </form>
    </div>
    <div class="menu4" id="menubtnid4">
        <form action="/firstuserinfoclosetopslide" method="POST" class="menubtn">
            <button class="dragmenubtn" type="submit">Mi cuenta</button><img src="/Images/serifamakit.png" style="position: absolute; left: 73vw;opacity: 0.4;" height="40px" width="40px"/>
        </form>
    </div>
    <div class="menu5" id="menubtnid5">
        <form action="/destroysession" method="POST" class="menubtn">
            <button class="dragmenubtn" type="submit">Cerrar sesión</button><img src="/Images/serifamakit.png" style="position: absolute; left: 81vw;opacity: 0.4;" height="40px" width="40px"/>
        </form>
    </div>
    <div class="menu6" id="menubtnid6">
        <form class="menubtn">
            <button class="dragmenubtn cerrarmenu" type="button">Volver</button><img src="/Images/serifamakit.png" style="position: absolute; left: 67vw;opacity: 0.4;" height="40px" width="40px"/>
        </form>
    </div>
</div>
<div id="topbar" class="topbar">
    <form>
        <button class="topslidemenubtn" style="background-image:url(/Images/menu.png); background-repeat: no-repeat; background-size: 30px 30px; background-position:center;"></button>    
        <button formaction="/firsthomeclosetopslide" formmethod="POST" class="topHomebtn" style="background-image:url(/Images/home.png); background-repeat: no-repeat; background-size: 30px 30px; background-position:center;"></button>
        <button formaction="/firstspclosetopslide" formmethod="POST" class="topshopkartbtn" style="background-image:url(/Images/shoppingcart.png); background-repeat: no-repeat; background-size: 30px 30px; background-position:center;"></button>      
        <button formaction="/firstmenulist1closetopslide" formmethod="POST" class="topoffermenubtn" style="background-image:url(/Images/carta2.png); background-repeat: no-repeat; background-size: 30px 30px; background-position:center;"></button>      
        <button formaction="/firstuserinfoclosetopslide" formmethod="POST" class="topuserbtn" style="background-image:url(/Images/user.png); background-repeat: no-repeat; background-size: 30px 30px; background-position:center;"></button>   
    </form>   
</div>